{% extends 'recipes/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wegelancko</title>
</head>
<body>
{% block page_header %}
<div class="mt-4 p-5 bg-dark text-white rounded" style="text-align:center">
    {% if user.is_authenticated %}
      <h1 class="display-3">Cześć, {{ user.username }}!</h1>
      <h1> Dziś masz ochotę na... </h1>
      <form class="d-flex p-4" role="search">
          <input class="form-control me-2" type="search" placeholder="Mniam mniam mniam..." aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Szukaj!</button>
      </form>
      <a class="btn btn-lg btn-info" href="{% url 'recipes:show_recipes' %}" role="button">Moje przepisy &raquo;</a>
      <a class="btn btn-lg btn-info" href="{% url 'recipes:add_recipe' %}" role="button">Dodaj przepis &raquo;</a>
      <a class="btn btn-lg btn-info" href="{% url 'recipes:index' %}" role="button">Eksploruj &raquo;</a>
    {% else %}
      <h1> Dziś mam ochotę na... </h1>
      <form class="d-flex p-4" role="search">
          <input class="form-control me-2" type="search" placeholder="Mniam mniam mniam..." aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Szukaj!</button>
      </form>
    {% endif %}
</div>
{% endblock page_header %}

{% block content %}

<div class="mt-4 p-5 bg-dark text-white rounded" >
    <div class="text-center mb-3"><h2>Ostatnio dodane przepisy</h2></div>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ first_recipe.image.url }}" class="d-block w-50 mx-auto d-block" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark">
            <h3>{{ first_recipe.title }}</h3>
            <p>{{ first_recipe.preparation_time }}, {{ first_recipe.servings }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ second_recipe.image.url }}" class="d-block w-50 mx-auto d-block" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark">
            <h3>{{ second_recipe.title }}</h3>
            <p>{{ second_recipe.preparation_time }}, {{ second_recipe.servings }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ third_recipe.image.url }}" class="d-block w-50 mx-auto d-block" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark">
            <h3>{{ third_recipe.title }}</h3>
            <p>{{ third_recipe.preparation_time }}, {{ third_recipe.servings }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
</div>

{% endblock content %}
</body>
</html>