{% extends 'recipes/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wegelancko</title>
</head>
<body>
{% block page_header %}
<div style="text-align:center">
<h1> Hejka! Poczuj się wegelancko! </h1>
</div>
{% endblock page_header %}
{% block content %}
<div class="mt-4 p-5 bg-dark text-white rounded" >
    <h2>Kategorie:</h2>
   {% for tag in tags %}
    <a class="btn btn-info my-2 my-sm-0" href="{% url 'recipes:recipes' tag.id %}" role="button">{{ tag }}</a>
   {% endfor %}
</div>
{% endblock content %}
</body>
</html>